<!DOCTYPE html>
<html lang="en">
<head>
  <title>Strichliste</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>

    <script>

    </script>
</head>
<body>

<div class="container" style="margin-bottom: 40px;">
  <h2>Strichliste</h2>
  <p>
      <div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>
  </p>
  <table class="table table-striped header-fixed">
    <thead>
      <tr>
          <th>
              Name
          </th>
          <th>
              Bilanz
          </th>

      </tr>
    </thead>
    <tbody>
    {% for human in humans %}
      <tr>
        {% for val in human %}
          <th>
              {{val}}
          </th>
          {% endfor %}

      </tr>
    {% endfor %}
    </tbody>
  </table>
    <button type="button" class="btn btn-warning" onclick="undo()">undo <span class="glyphicon glyphicon-fast-backward"></span></button>
</div>
</body>
</html>
