<!DOCTYPE html>
<html lang="en">
<head>
  <title>Strichliste</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="margin-bottom: 40px;">
  <h2>Strichliste</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <table class="table table-striped header-fixed">
    <thead>
      <tr>
        {% for field in fields %}
          <th>
              {{field}}
          </th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for human in humans %}
      <tr>
        {% for val in human %}
          <th>
              {% if val is number %}
              <button type="button" class="btn btn-primary">{{val}}</button>
              {% else %}
              {{val}}
              {% endif %}
          </th>
          {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
    <button type="button" class="btn btn-warning">undo <span class="glyphicon glyphicon-fast-backward"></span></button>
</div>
</body>
</html>
