<!DOCTYPE html>
<html lang="en">
<head>
  <title>Strichliste</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>

    <script>
        
        function book(human_id, category_id, amount) {
            var url = "add_transaction/" + human_id + "/" + category_id + "/" + String(amount);
            var jqxhr = $.ajax(url)
                .done(function() {
                    //increment button locally
                    var id = "bt-" + human_id + "%" + category_id;
                    var button = document.getElementById(id);
                    button.textContent = Number(button.textContent) + amount;
                    })
                .fail(function() {
                    alert( "Network error" );
                    })
        }

        function undo() {
            $.ajax("undo")
                .done(function () {
                    location.reload();
                })
                .fail(function () {
                    alert ("Error. Couldn't undo");
                })
        }

        function batch_order(human_id, category_id) {
            BootstrapDialog.show({
            title: 'Kastengröße wählen',
            // message: 'Click buttons below.',
            buttons: [{
                label: '24 (Rothaus)',
                action: function () {
                    book(human_id, category_id, 24);
                    BootstrapDialog.closeAll()
                }
            }, {
                label: '20 (Ötti/Flens)',
                action: function(){
                    book(human_id, category_id, 20);
                    BootstrapDialog.closeAll()
                }
            }, {
                label: '12 (Wasser)',
                action: function() {
                    book(human_id, category_id, 6);
                    BootstrapDialog.closeAll()
                }
            }]
        });
        }
    </script>
</head>
<body>

<div class="container" style="margin-bottom: 40px;">
  <h2>Strichliste</h2>
  <p>
      Benutze
      <button type="button" class="btn btn-danger">
                          <span class="glyphicon glyphicon-th"></span></button>, um Kästen abzustreichen.</p>
  <table class="table table-striped header-fixed">
    <thead>
      <tr>
        {% for field in fields %}
          <th>
              {{field.name}}
          </th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for human in humans %}
      <tr>
        {% for val in human %}
          <th>
              {% if val is number %}
                  {% with human_id = human[0].id %}
                  {% with category_id = fields[(loop.index - 1)].id %}
                  {% with id = human_id ~ "%" ~ category_id %}
                      <button type="button" id="bt-{{ id }}" class="btn btn-primary"
                              onclick="book('{{human_id}}', '{{category_id}}', 1)">{{val}}</button>
                      <button type="button" class="btn btn-danger" onclick="batch_order('{{human_id}}','{{category_id}}')">
                          <span class="glyphicon glyphicon-th"></span></button>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
              {% else %}
                    {{val.name}}
              {% endif %}
          </th>
          {% endfor %}

      </tr>
    {% endfor %}
    </tbody>
  </table>
    <button type="button" class="btn btn-warning" onclick="undo()">undo <span class="glyphicon glyphicon-fast-backward"></span></button>
</div>
</body>
</html>
